<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                2021 &copy; ট্যাক্স অটোমেশন
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    Developed by <i class="mdi mdi-heart text-danger"></i> Rakib
                </div>
            </div>
        </div>
    </div>
</footer>