<!DOCTYPE HTML>
<html lang="en-US">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cleanmaster- Construction & Architecture HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <!-- Include All CSS here-->
    @Styles.Render("~/Content/frontCss")
    <!-- modernizr js -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- End Include All CSS -->


</head>
<body>

    @RenderBody();

    <!-- header top area -->
    <div class="cleanmaster-header-top">
        <div class="container">
            <!-- STYLE 1 RIGHT ICON  -->
            <div class="row">
                <!-- TOP LEFT -->
                <div class="col-lg-5 col-md-4 col-sm-7">
                    <div class="top-address">
                        <p>
                            <a href="tel:+998556778345"><i class="icofont-phone"></i>+998556778345</a>
                            <a href="mailto:demo@example.com"><i class="icofont-envelope"></i>demo@example.com</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5">
                    <div class="top-welcome">
                        <p class="text-center">

                            <span>
                                <i class="icofont-heart-alt"></i>
                                welcome visit our site
                            </span>
                        </p>
                    </div>
                </div>
                <!-- TOP RIGHT -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="top-right-menu">
                        <ul class="social-icons text-right text_m_center">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li>
                            <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                            <li><a href="#"><i class="icofont-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header top area -->

    <div class="cleanmaster-main-menu one_page hidden-xs hidden-sm  witr_h_h14">
        <div class="cleanmaster_nav_area scroll_fixed">
            <div class="container">
                <div class="row logo-left">
                    <!-- LOGO -->
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <div class="logo">
                            <a class="main_sticky_main_l" href="index.html" title="cleanmaster">
                                <img src="assets/images/header-logo.png" alt="cleanmaster">
                            </a>
                            <a class="main_sticky_l" href="index.html" title="cleanmaster">
                                <img src="assets/images/header-logo2.png" alt="cleanmaster">
                            </a>
                        </div>
                    </div>
                    <!-- END LOGO -->
                    <!-- MAIN MENU -->
                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <nav class="cleanmaster_menu main-search-menu">
                            <ul class="sub-menu nav_scroll">
                                <li>
                                    <a href="index.html">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="home-banner.html">Home Banner</a></li>
                                        <li><a href="home-one-page.html">Home One Page</a></li>
                                    </ul>
                                </li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#service">Service</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#blog">Blog</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                            <div class="em-quearys-top msin-menu-search">
                                <div class="em-top-quearys-area">
                                    <div class="em-header-quearys">
                                        <div class="em-quearys-menu">
                                            <i class="fa fa-search t-quearys"></i>
                                        </div>
                                    </div>
                                    <!--SEARCH FORM-->
                                    <div class="em-quearys-inner">
                                        <div class="em-quearys-form">
                                            <form class="top-form-control" action="#" method="get">
                                                <input type="text" placeholder="Type Your Keyword" name="s" value="">
                                                <button class="top-quearys-style" type="submit">
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </button>
                                            </form>

                                            <div class="em-header-quearys">
                                                <div class="em-quearys-menu">
                                                    <i class="fa fa-close  t-close em-s-hidden "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- MOBILE MENU -->
    <div class="mobile_logo_area hidden-md hidden-lg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="mobile_menu_logo text-center">
                        <a href="index.html" title="cleanmaster">
                            <img src="assets/images/header-logo.png" alt="cleanmaster" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MOBILE MENU -->
    <!-- MOBILE MENU AREA -->
    <div class="mbm hidden-md hidden-lg header_area main-menu-area">
        <div class="menu_area mobile-menu">
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="home-one-page.html">Home Banner</a></li>

                            <li><a href="home-one-page.html">Home One Page</a></li>
                        </ul>
                    </li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#service">Service</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#blog">Blog</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- END MOBILE MENU AREA  -->
    <!-- SLIDER  AREA -->
    <div class="witr_slick_slider_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 padding_lr0">
                    <div class="witr_slick_active">
                        <div class="witr_ds_content_area" style="background-image: url(assets/images/cleanmaster-slider1.jpg);">
                            <!-- single slider item -->
                            <div class="witr_ds_slider_content witr_slick_content">
                                <div class=" witr_ds_content witr_slick_height text-center">
                                    <div class="witr_ds_content_inner witr_containers">
                                        <!-- title -->
                                        <h4>The Best Cleaning Service !</h4>
                                        <h2>We Are Certified Company </h2>
                                        <!-- content -->
                                        <p>Our best-in-class WordPress solution, with additional optimization to make running a</p>
                                        <p>Woo Commerce online store and straight forward so you can.</p>
                                        <!-- inner title -->
                                        <!-- btn gradient style -->
                                        <div class="slider_btn">
                                            <div class="witr_btn_style">
                                                <div class="witr_btn_sinner">
                                                    <!-- button -->
                                                    <a class="witr_btn" href="#">Our Service</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="witr_ds_content_area" style="background-image: url(assets/images/cleanmaster-slider2.jpg);">
                            <!-- single slider item -->
                            <div class="witr_ds_slider_content witr_slick_content">
                                <div class=" witr_ds_content witr_slick_height text-center">
                                    <div class="witr_ds_content_inner witr_containers">
                                        <h4>The Best Cleaning Service !</h4>
                                        <h2>We Are Certified Company </h2>
                                        <!-- content -->
                                        <p>Our best-in-class WordPress solution, with additional optimization to make running a</p>
                                        <p>Woo Commerce online store and straight forward so you can.</p>
                                        <!-- btn gradient style -->
                                        <div class="slider_btn">
                                            <div class="witr_btn_style">
                                                <div class="witr_btn_sinner">
                                                    <!-- button -->
                                                    <a class="witr_btn" href="#">More Service +</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- ABOUT_SECTION AREA  -->
    <div class="witr_about_area" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <img src="assets/images/about.png" alt="">
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="witr_text_widget">
                        <div class="witr_text_widget_inner">
                            <!-- text top -->
                            <h1><span>About Us</span></h1>
                            <!-- text middle -->
                            <h2>Discover the Great Benefits of Our Choose !</h2>
                            <!-- content -->
                            <p>Our sanitizing services go beyond the basic services and ovide you with a comprehensive clean that will reenergize your ome and enhance your life. </p>
                        </div>
                        <div class="em-service2 sleft ">
                            <div class="em_service_content ">
                                <div class="em_single_service_text">
                                    <div class="text_box">
                                        <div class="service_top_text all_icon_color">
                                            <div class="em-service-icon">
                                                <i class="icofont-recycle"></i>
                                            </div>
                                        </div>
                                        <div class="em-service-inner">
                                            <div class="em-service-title">
                                                <h3>Window Cleaning </h3>
                                            </div>
                                            <div class="em-service-desc">
                                                <p>Lorem ipsum dolor sit amen, consectetuer adipescent alit, seed dam nonarmy. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="em-service2 sleft ">
                            <div class="em_service_content ">
                                <div class="em_single_service_text">
                                    <div class="text_box">
                                        <div class="service_top_text all_icon_color">
                                            <div class="em-service-icon">
                                                <i class="icofont-tags"></i>
                                            </div>
                                        </div>
                                        <div class="em-service-inner">
                                            <div class="em-service-title">
                                                <h3>Pressure Washing </h3>
                                            </div>
                                            <div class="em-service-desc">
                                                <p>Lorem ipsum dolor sit amen, consectetuer adipescent alit, seed dam nonarmy. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="witr_button_area witr_button1">
                            <div class="witr_btn_style mr">
                                <div class="witr_btn_sinner">
                                    <a href="#" class="witr_btn">About More<i class="icofont-square-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- image_comprace_area -->
    <div class="image_comprace_area">
        <div class="container-fuled">
            <div class="row">
                <div class="col-lg-12">
                    <div class="witr-img-pos witr-label-pos-center">
                        <div id="beer-ready" class="beer-slider" data-beer-label="Before">
                            <img src="assets/images/after-thumb1.jpg" alt="">
                            <div class="beer-reveal" data-beer-label="After">
                                <img src="assets/images/before-thumb.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- EXPLORE THE cleanmaster -->
    <div class="witr_explore_cleanmaster">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-left">
                            <!-- title top -->
                            <h2>Our Experience</h2>
                            <!-- title middle -->
                            <h3>Effective Work Of Team</h3>
                            <p>Our sanitizing services go beyond the basic services and ovide you with a comprehensive clean that will reenergize your ome and enhance your life</p>
                        </div>
                    </div>
                    <div class="witr_single_progress all_color_bar">
                        <div class="witr_title9">
                            <span class="witr_label">Experience </span>
                        </div>
                        <div class="progress witr_progress-style9">
                            <div class="progress-bar wow fadeInLeft animated animated" data-wow-duration="1.5s" data-wow-delay="0.2s" style="width: 90%; visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInLeft;">
                                <span class="witr_percent">90%</span>
                            </div>
                        </div>
                    </div>
                    <div class="witr_single_progress all_color_bar">
                        <div class="witr_title9">
                            <span class="witr_label">Project </span>
                        </div>
                        <div class="progress witr_progress-style9">
                            <div class="progress-bar wow fadeInLeft animated animated" data-wow-duration="1.5s" data-wow-delay="0.2s" style="width: 80%; visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInLeft;">
                                <span class="witr_percent">80%</span>
                            </div>
                        </div>
                    </div><div class="witr_single_progress all_color_bar">
                        <div class="witr_title9">
                            <span class="witr_label">Support </span>
                        </div>
                        <div class="progress witr_progress-style9">
                            <div class="progress-bar wow fadeInLeft animated animated" data-wow-duration="1.5s" data-wow-delay="0.2s" style="width: 90%; visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInLeft;">
                                <span class="witr_percent">90%</span>
                            </div>
                        </div>
                    </div><div class="witr_single_progress all_color_bar">
                        <div class="witr_title9">
                            <span class="witr_label">Clean </span>
                        </div>
                        <div class="progress witr_progress-style9">
                            <div class="progress-bar wow fadeInLeft animated animated" data-wow-duration="1.5s" data-wow-delay="0.2s" style="width: 70%; visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInLeft;">
                                <span class="witr_percent">70%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="single_image_area">
                        <div class="single_image1">
                            <!-- image -->
                            <img src="assets/images/exprince.png" alt="">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>







    <!-- cleanmaster_process_area -->
    <div class="cleanmaster_process_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-center">
                            <h2>Work Process</h2>
                            <h3>Our Working Process</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner_cleanmaster_process-area">
                <div class="row cleanmaster_top">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="service-item service-item2 text-center">
                            <div class="text_box all_icon_color">
                                <i class="icofont-calendar"></i>
                                <h3>Book Online Form </h3>
                                <p>an unknown printer took a galley type and scrambled printer. </p>
                                <div class="service-btn1">
                                    <a href="#">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="service-item service-item2 text-center">
                            <div class="text_box all_icon_color">
                                <i class="icofont-envelope"></i>
                                <h3>Get Confirmation</h3>
                                <p>an unknown printer took a galley type and scrambled printer. </p>
                                <div class="service-btn1">
                                    <a href="#">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="service-item service-item2 text-center">
                            <div class="text_box all_icon_color">
                                <i class="icofont-slightly-smile"></i>
                                <h3>Let’s Enjoy</h3>
                                <p>an unknown printer took a galley type and scrambled printer. </p>
                                <div class="service-btn1">
                                    <a href="#">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- cleanmaster_service_area	 -->
    <div class="cleanmaster_service_area" id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner witr_section_title_inner2 text-center">
                            <h2>Our Service</h2>
                            <h3>We Provide Our Best Cleaning <br> Services for You.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cleanmaster_top">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service-item service-item3 text-center">
                        <div class="text_box all_icon_color">
                            <i class="icofont-home"></i>
                            <h3>House Clean  </h3>
                            <p>We provide janitorial and specialized is ing services for all types and sizes. </p>
                            <div class="service-btn service-btn2">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service-item service-item3 text-center">
                        <div class="text_box all_icon_color">
                            <i class="icofont-flora"></i>
                            <h3>Floor Cleaning</h3>
                            <p>We provide janitorial and specialized is ing services for all types and sizes. </p>
                            <div class="service-btn service-btn2">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="service-item service-item3 text-center">
                        <div class="text_box all_icon_color">
                            <i class="icofont-brand-windows"></i>
                            <h3>Window Cleaning</h3>
                            <p>We provide janitorial and specialized is ing services for all types and sizes. </p>
                            <div class="service-btn service-btn2">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="service-item service-item3 text-center">
                        <div class="text_box all_icon_color">
                            <i class="icofont-fire-extinguisher-alt"></i>
                            <h3>Room Cleaning</h3>
                            <p>We provide janitorial and specialized is ing services for all types and sizes. </p>
                            <div class="service-btn service-btn2">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="service-item service-item3 text-center">
                        <div class="text_box all_icon_color">
                            <i class="icofont-car-alt-3"></i>
                            <h3>Car Clean</h3>
                            <p>We provide janitorial and specialized is ing services for all types and sizes. </p>
                            <div class="service-btn service-btn2">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="service-item service-item3 text-center">
                        <div class="text_box all_icon_color">
                            <i class="icofont-transparent"></i>
                            <h3>Carpet Cleaning</h3>
                            <p>We provide janitorial and specialized is ing services for all types and sizes. </p>
                            <div class="service-btn service-btn2">
                                <a href="#">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- witr_brand_areat -->
    <div class="witr_brand_area">
        <div class="container">
            <div class="row">
                <div class=" col-lg-12">
                    <div class="imagess_area wittr_car_top_left">
                        <div class="witr_car_overlay brand_imagess_active">
                            <div class="slide_items">
                                <img src="assets/images/themex-br1.png" alt="" />
                            </div>
                            <div class="slide_items">
                                <img src="assets/images/themex-br2.png" alt="" />
                            </div>
                            <div class="slide_items">
                                <img src="assets/images/themex-br3.png" alt="" />
                            </div>
                            <div class="slide_items">
                                <img src="assets/images/themex-br4.png" alt="" />
                            </div>
                            <div class="slide_items">
                                <img src="assets/images/themex-br5.png" alt="" />
                            </div>
                            <div class="slide_items">
                                <img src="assets/images/themex-br6.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- cleanmaster_feature_area		 -->
    <div class="cleanmaster_feature_area">
        <div class="container">
            <div class="row">
                <div class=" col-lg-12">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-center">
                            <h2>Feature</h2>
                            <h3>Your Freedom Depends <br> On Us </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cleanmaster_top">
                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="witr_case all_case_color ">
                        <div class="witr_case_image">
                            <img src="assets/images/fe-1.jpg" alt="" />
                        </div>
                        <div class="witr_content_casem">
                            <div class="witr_content_casei">
                                <h3>100% Safe Money</h3>
                            </div>
                            <div class="witr_case_btnb witr_case_btnb2">
                                <a href="#">Read More<i class="icofont-square-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="witr_case all_case_color ">
                        <div class="witr_case_image">
                            <img src="assets/images/fe-2.jpg" alt="" />
                        </div>
                        <div class="witr_content_casem">
                            <div class="witr_content_casei">
                                <h3>100% Safe Money</h3>
                            </div>
                            <div class="witr_case_btnb witr_case_btnb2">
                                <a href="#">Read More<i class="icofont-square-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="witr_case all_case_color ">
                        <div class="witr_case_image">
                            <img src="assets/images/fe-3.jpg" alt="" />
                        </div>
                        <div class="witr_content_casem">
                            <div class="witr_content_casei">
                                <h3>100% Safe Money</h3>
                            </div>
                            <div class="witr_case_btnb witr_case_btnb2">
                                <a href="#">Read More<i class="icofont-square-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- MAIN WRAPPER START -->
    <div class="witr_video_area">
        <div class="container">
            <div class="row">
                <div class=" col-lg-12">
                    <div class="video-part">
                        <div class="video-overlay _color_v">
                            <div class="video-item text-center">
                                <a class="video-popup video-vemo-icon venobox vbox-item" data-vbtype="youtube" data-autoplay="true" href="https://www.youtube.com/watch?v=XHOmBV4js_E">
                                    <!-- icon -->
                                    <i class="icofont-play-alt-1"></i>
                                </a>
                                <!-- title -->
                                <h3 class="video_title">Watch Video This Play </h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- cleanmaster_team_area -->
    <div class="cleanmaster_team_area">
        <div class="container">
            <div class="row">
                <div class=" col-lg-12">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-center">
                            <h2>Team Member</h2>
                            <h3>Our Expert Cleaner</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cleanmaster_top">
                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="team-part all_color_team">
                        <div class="witr_team_sec_3">
                            <img src="assets/images/team-1.jpg" alt="" />
                            <div class="witr_team_content3 text-center all_team_icon_o_color">
                                <h5>Energy Mintu </h5>
                                <span>Founder </span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. </p>
                                <ul class="witr_pots_team_s">
                                    <li>
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                        <a href="#"><i class="icofont-tumblr"></i></a>
                                        <a href="#"><i class="icofont-vimeo"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team-social all_team_s_color all_icon_bg_color">
                                <ul class="witr_pots_team_s">
                                    <li>
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                        <a href="#"><i class="icofont-tumblr"></i></a>
                                        <a href="#"><i class="icofont-vimeo"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="team-part all_color_team">
                        <div class="witr_team_sec_3">
                            <img src="assets/images/team-2.jpg" alt="" />
                            <div class="witr_team_content3 text-center all_team_icon_o_color">
                                <h5>Patrick Griffin</h5>
                                <span>Senior Cleaner </span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. </p>
                                <ul class="witr_pots_team_s">
                                    <li>
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                        <a href="#"><i class="icofont-tumblr"></i></a>
                                        <a href="#"><i class="icofont-vimeo"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team-social all_team_s_color all_icon_bg_color">
                                <ul class="witr_pots_team_s">
                                    <li>
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                        <a href="#"><i class="icofont-tumblr"></i></a>
                                        <a href="#"><i class="icofont-vimeo"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="team-part all_color_team">
                        <div class="witr_team_sec_3">
                            <img src="assets/images/team-3.jpg" alt="" />
                            <div class="witr_team_content3 text-center all_team_icon_o_color">
                                <h5>Sabiya Sultan </h5>
                                <span>Cleaner </span>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. </p>
                                <ul class="witr_pots_team_s">
                                    <li>
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                        <a href="#"><i class="icofont-tumblr"></i></a>
                                        <a href="#"><i class="icofont-vimeo"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="team-social all_team_s_color all_icon_bg_color">
                                <ul class="witr_pots_team_s">
                                    <li>
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                        <a href="#"><i class="icofont-tumblr"></i></a>
                                        <a href="#"><i class="icofont-vimeo"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- cleanmaster_numbe_counter_area -->
    <div class="cleanmaster_numbe_counter_area">
        <div class="container">
            <div class="row">
                <!-- Number counter -->
                <div class=" col-lg-3 col-md-3 col-sm-12">
                    <div class="witr_counter_single all_counter_color">
                        <div class="witr_counter_number_inn">
                            <!-- number -->
                            <h3 class="counter">59 </h3>
                            <!-- symbol -->
                            <span>K</span>
                            <!-- content -->
                            <h4>Toilet Cleaning </h4>
                        </div>
                    </div>
                </div>
                <!-- Number counter2 -->
                <div class=" col-lg-3  col-md-3 col-sm-12">
                    <div class="witr_counter_single all_counter_color">
                        <div class="witr_counter_number_inn">
                            <!-- number -->
                            <h3 class="counter">98</h3>
                            <!-- symbol -->
                            <span></span>
                            <!-- content -->
                            <h4>Working Speed </h4>
                        </div>
                    </div>
                </div>
                <!-- Number counter3 -->
                <div class=" col-lg-3  col-md-3 col-sm-12">
                    <div class="witr_counter_single all_counter_color">
                        <div class="witr_counter_number_inn">
                            <!-- number -->
                            <h3 class="counter">48 </h3>
                            <!-- symbol -->
                            <span>K</span>
                            <!-- content -->
                            <h4>Offers</h4>
                        </div>
                    </div>
                </div>
                <!-- Number counter4 -->
                <div class=" col-lg-3  col-md-3 col-sm-12">
                    <div class="witr_counter_single all_counter_color">
                        <div class="witr_counter_number_inn">
                            <!-- number -->
                            <h3 class="counter">39 </h3>
                            <!-- symbol -->
                            <span></span>
                            <!-- content -->
                            <h4>Working Award </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- PROJECTS-cleanmaster -->
    <div class="wirr_team_area" id="portfolio">
        <div class="container-fuled">
            <div class="row">
                <div class=" col-lg-12">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner witr_section_title_inner2 text-center">
                            <!-- title top -->
                            <h2>PROJECTS</h2>
                            <!-- title middle -->
                            <h3>Our Recent Works</h3>
                            <!-- content -->
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut</p>
                            <p>labore et dolore magna aliqua. it enim ad minim veniam,</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <div class="portfolio_nav  wittr_pfilter_menu">
                        <ul id="filter" class="filter_menu ">
                            <li class="current_menu_item" data-filter="*">All Work</li>
                            <li data-filter=".commercial">COMMERCIAL</li>
                            <li data-filter=".company">COMPANY</li>
                            <li data-filter=".house">HOUSE</li>
                            <li data-filter=".madical">MADICAL</li>
                            <li data-filter=".office">OFFICE</li>
                        </ul>
                    </div>
                    <div class=" em_load pstyle_1 em_port_container cleanmaster_top">
                        <div class="prot_wrap">
                            <!-- single portfolio -->
                            <div class="col-lg-4  grid-item col-md-6 col-sm-12 witr_all commercial madical">
                                <div class="single_protfolio">
                                    <div class="prot_thumb">
                                        <img src="assets/images/themex-port-1.jpg" alt="">
                                        <div class="prot_content em_port_content">
                                            <div class="prot_content_inner">
                                                <div class="picon">
                                                    <a class="portfolio-icon venobox vbox-item" href="assets/images/contex_b1.jpg">
                                                        <i class="fas fa-arrows-alt"></i>
                                                    </a>
                                                    <a href="#"><i class="fas fa-link"></i></a>
                                                </div>
                                                <div class="porttitle_inner">
                                                    <h3><a href="#">Demo Media Title 1</a></h3>
                                                    <p>
                                                        <span class="category-item-p">
                                                            COMMERCIAL
                                                        </span>
                                                        <span class="category-item-p">MADICAL</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio2 -->
                            <div class="col-lg-4  grid-item col-md-6 col-xs-12 col-sm-12 witr_all company house">
                                <div class="single_protfolio">
                                    <div class="prot_thumb">
                                        <img src="assets/images/themex-port-2.jpg" alt="">
                                        <div class="prot_content em_port_content ">
                                            <div class="prot_content_inner">
                                                <div class="picon">
                                                    <a class="portfolio-icon venobox vbox-item" href="assets/images/contex_b2.jpg">
                                                        <i class="fas fa-arrows-alt"></i>
                                                    </a>
                                                    <a href="#"><i class="fas fa-link"></i></a>
                                                </div>
                                                <div class="porttitle_inner">
                                                    <h3><a href="#">Demo Media Title 2</a></h3>
                                                    <p>
                                                        <span class="category-item-p">COMMERCIAL</span>
                                                        <span class="category-item-p">MADICAL</span>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio3 -->
                            <div class="col-lg-4  grid-item col-md-6 col-xs-12 col-sm-12 company office  witr_all">
                                <div class="single_protfolio">
                                    <div class="prot_thumb">
                                        <img src="assets/images/themex-port-3.jpg" alt="">
                                        <div class="prot_content em_port_content ">
                                            <div class="prot_content_inner">
                                                <div class="picon">
                                                    <a class="portfolio-icon venobox vbox-item" href="assets/images/contex_b3.jpg">
                                                        <i class="fas fa-arrows-alt"></i>
                                                    </a>
                                                    <a href="#"><i class="fas fa-link"></i></a>
                                                </div>
                                                <div class="porttitle_inner">
                                                    <h3><a href="#">Demo Media Title 3</a></h3>
                                                    <p>
                                                        <span class="category-item-p">COMMERCIAL</span>
                                                        <span class="category-item-p">MADICAL</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio4 -->
                            <div class="col-lg-4  grid-item col-md-6 col-xs-12 col-sm-12 commercial witr_all company witr_all">
                                <div class="single_protfolio">
                                    <div class="prot_thumb">
                                        <img src="assets/images/themex-port-4.jpg" alt="">
                                        <div class="prot_content em_port_content ">
                                            <div class="prot_content_inner">
                                                <div class="picon">
                                                    <a class="portfolio-icon venobox vbox-item" href="assets/images/contex_b4.jpg">
                                                        <i class="fas fa-arrows-alt"></i>
                                                    </a>
                                                    <a href="#"><i class="fas fa-link"></i></a>
                                                </div>
                                                <div class="porttitle_inner">
                                                    <h3><a href="#">Demo Media Title 4</a></h3>
                                                    <p>
                                                        <span class="category-item-p">COMMERCIAL</span>
                                                        <span class="category-item-p">MADICAL</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio5 -->
                            <div class="col-lg-4  grid-item col-md-6 col-xs-12 col-sm-12 commercial witr_all company witr_all">
                                <div class="single_protfolio">
                                    <div class="prot_thumb">
                                        <img src="assets/images/themex-port-5.jpg" alt="">
                                        <div class="prot_content em_port_content ">
                                            <div class="prot_content_inner">
                                                <div class="picon">
                                                    <a class="portfolio-icon venobox vbox-item" href="assets/images/contex_b4.jpg">
                                                        <i class="fas fa-arrows-alt"></i>
                                                    </a>
                                                    <a href="#"><i class="fas fa-link"></i></a>
                                                </div>
                                                <div class="porttitle_inner">
                                                    <h3><a href="#">Demo Media Title 4</a></h3>
                                                    <p>
                                                        <span class="category-item-p">COMMERCIAL</span>
                                                        <span class="category-item-p">MADICAL</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio5 -->
                            <div class="col-lg-4  grid-item col-md-6 col-xs-12 col-sm-12 witr_all company house ">
                                <div class="single_protfolio">
                                    <div class="prot_thumb">
                                        <img src="assets/images/themex-port-6.jpg" alt="">
                                        <div class="prot_content em_port_content ">
                                            <div class="prot_content_inner">
                                                <div class="picon">
                                                    <a class="portfolio-icon venobox vbox-item" href="assets/images/contex_b2.jpg">
                                                        <i class="fas fa-arrows-alt"></i>
                                                    </a>
                                                    <a href="#"><i class="fas fa-link"></i></a>
                                                </div>
                                                <div class="porttitle_inner">
                                                    <h3><a href="#">Demo Media Title 2</a></h3>
                                                    <p>
                                                        <span class="category-item-p">COMMERCIAL</span>
                                                        <span class="category-item-p">MADICAL</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="witr_btn_style mr">
                <div class="witr_btn_sinner inner_witr_btn_sinner text-center">
                    <a href="#" class="witr_btn">View all projects</a>
                </div>
            </div>
        </div>
    </div>







    <!-- cleanmaster_inner_blog_area -->
    <div class="cleanmaster_inner_blog_area" id="blog">
        <div class="container">
            <div class="row">
                <div class=" col-lg-12">
                    <div class="witr_section_title">
                        <div class="witr_section_title_inner text-center">
                            <h2>Blog Post</h2>
                            <h3>Latest update blog</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-part ">
                        <div class="blog_part_inner ">
                            <div class="witr_blog_imags">
                                <!-- image -->
                                <div class="blog-img">
                                    <a href="#"> <img src="assets/images/themex-blog-1.jpg" alt=""> </a>
                                </div>
                            </div>
                            <div class="wblog-content blog-content-5">
                                <!--  post meta -->
                                <span><a href="#"><i class="icofont-users-alt-5"></i> By: Admin, </a></span>
                                <span><a href="#"><i class="icofont-calendar"></i></a> January 6, 2020</span>
                                <!-- title -->
                                <h5><a href="single-blog.html">Clean Your Home Faster And Efficiently</a></h5>
                                <!-- content -->
                                <p>There are many variations passages of Lorem Ipsum available, but the majority have suffered alteration</p>
                                <!-- button -->
                                <a class="btn2 witr_bt2" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-part ">
                        <div class="blog_part_inner ">
                            <div class="witr_blog_imags">
                                <!-- image -->
                                <div class="blog-img">
                                    <a href="#"> <img src="assets/images/themex-blog-2.jpg" alt=""> </a>
                                </div>
                            </div>
                            <div class="wblog-content blog-content-5">
                                <!--  post meta -->
                                <span><a href="#"><i class="icofont-users-alt-5"></i> By: Admin,</a></span>
                                <span><a href="#"><i class="icofont-calendar"></i></a> January 6, 2020</span>
                                <!-- title -->
                                <h5><a href="single-blog.html">Ideas For sleep Clean Renovation</a></h5>
                                <!-- content -->
                                <p>There are many variations passages of Lorem Ipsum available, but the majority have suffered alteration</p>
                                <!-- button -->
                                <a class="btn2 witr_bt2" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-part ">
                        <div class="blog_part_inner ">
                            <div class="witr_blog_imags">
                                <!-- image -->
                                <div class="blog-img">
                                    <a href="#"> <img src="assets/images/themex-blog-3.jpg" alt=""> </a>
                                </div>
                            </div>
                            <div class="wblog-content blog-content-5">
                                <!--  post meta -->
                                <span><a href="#"><i class="icofont-users-alt-5"></i>By: Admin,</a></span>
                                <span><a href="#"><i class="icofont-calendar"></i></a>January 6, 2020</span>
                                <!-- title -->
                                <h5><a href="single-blog.html">The Secret of Cleaning Your Floor	</a></h5>
                                <!-- content -->
                                <p>There are many variations passages of Lorem Ipsum available, but the majority have suffered alteration</p>
                                <!-- button -->
                                <a class="btn2 witr_bt2" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- cleanmaster_call_to_action_area -->
    <div class="cleanmaster_call_to_action_area">
        <div class="container">
            <div class="row">
                <div class=" col-lg-12">
                    <div class=" witr_5 all_cal_color cleanmaster_cen text-center">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="cleanmaster_content">
                                    <h5>GET STARTED TODAY ?</h5>
                                    <h2>We Can Help You With</h2>
                                    <p>There are many variations passages of Lorem Ipsum available, but the majority have services for all types and sizes. </p>
                                    <div class="cleanmaster_button cleanmaster_button2">
                                        <a href="#">Sign Up<i class="icofont-paper-plane"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- cleanmaster_service_content_area -->
    <div class="cleanmaster_service_content_area" id="contact">
        <div class="container">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-sm-12 cleanmaster_top">
                    <div class="em-service2 sleft all_color_service">
                        <div class="em_service_content ">
                            <div class="em_single_service_text">
                                <div class="text_box">
                                    <div class="service_top_text all_icon_color">
                                        <div class="em-service-icon">
                                            <i class="icofont-location-pin"></i>
                                        </div>
                                    </div>
                                    <div class="em-service-inner">
                                        <div class="em-service-title">
                                            <h3>Office Location </h3>
                                        </div>
                                        <div class="em-service-desc">
                                            <p>Riverside Building, County Hall, Bishop's, London SE1 7PB, United Kingdom </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="em-service2 sleft all_color_service">
                        <div class="em_service_content ">
                            <div class="em_single_service_text">
                                <div class="text_box">
                                    <div class="service_top_text all_icon_color">
                                        <div class="em-service-icon">
                                            <i class="icofont-phone"></i>
                                        </div>
                                    </div>
                                    <div class="em-service-inner">
                                        <div class="em-service-title">
                                            <h3>Phone Number</h3>
                                        </div>
                                        <div class="em-service-desc">
                                            <p>+ (786) 1234-567-8900</p>
                                            <p>+ (786) 1234-567-8901 </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="em-service2 sleft all_color_service">
                        <div class="em_service_content ">
                            <div class="em_single_service_text">
                                <div class="text_box">
                                    <div class="service_top_text all_icon_color">
                                        <div class="em-service-icon">
                                            <i class="icofont-email"></i>
                                        </div>
                                    </div>
                                    <div class="em-service-inner">
                                        <div class="em-service-title">
                                            <h3>Office Location </h3>
                                        </div>
                                        <div class="em-service-desc">
                                            <p>demo@example.com </p>
                                            <p>info@example.com </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-12 appointment_form">
                    <div class="apartment_text">
                        <h1>Booking Your From</h1>
                        <p>Make An appointment </p>
                    </div>
                    <div class="form_areac">
                        <form method="post" action="mail.php" id="contact-form">
                            <div class="witr_form_area2">
                                <div class="witr_form_controls2">
                                    <div class="witr_field2">
                                        <div class="witr_form_field2">
                                            <input type="text" name="name" placeholder="Name*">
                                        </div>
                                        <div class="witr_form_field2">
                                            <input type="email" name="email" placeholder="Email*">
                                        </div>
                                    </div>
                                    <div class="witr_field2">
                                        <div class="witr_form_field2">
                                            <input type="text" name="website" placeholder="Website">
                                        </div>
                                        <div class="witr_form_field2">
                                            <input type="text" name="phone" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="witr_field2">
                                        <div class="witr_text_area2">
                                            <textarea name="comment" placeholder="Your Comment..."></textarea>
                                        </div>
                                    </div>
                                    <div class="witr_field2">
                                        <div class=" witr_con_btn2">
                                            <input type="submit" name="ok" value="Send Request" class="w_btn2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- cleanmaster_footer_area -->
    <div class="cleanmaster_footer_area">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6  col-sm-12">
                        <div class="widget widget_cleanmaster_description_widget">
                            <div class="cleanmaster-description-area">
                                <a href="#">
                                    <img src="assets/images/header-logo2.png" alt="" />
                                </a>
                                <p>Lorem ipsum dolor sit amet, consetur acing elit, sed do eiusmod ligal</p>
                                <p class="phone"><a href="tel:"> </a></p>
                                <div class="social-icons">
                                    <a class="facebook" href="#" title="Facebook"><i class="icofont-facebook"></i></a>
                                    <a class="twitter" href="#" title="Twitter"><i class="icofont-twitter"></i></a>
                                    <a class="Linkedin" href="#" title="Linkedin"><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6  col-lg-3 ">
                        <div class="widget about_us">
                            <h2 class="widget-title">Timings</h2>
                            <div class="about-footer">
                                <div class="footer-widget address">
                                    <div class="footer-logo">
                                        <p>
                                            Mon to Fri: 9:00am to 9:00pm
                                            Sat: 10:00am to 4:00pm<br>
                                            Sun: Rest Day
                                        </p>
                                    </div>
                                    <div class="footer-address"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6  col-lg-3 ">
                        <div class="widget widget_nav_menu">
                            <h2 class="widget-title">Our Service</h2>
                            <div class="menu-quick-link-container">
                                <ul class="menu">
                                    <li>
                                        <a href="#">Toilet Cleaning</a>
                                    </li>
                                    <li><a href="#">Bedroom Cleaning</a></li>
                                    <li><a href="#">Window Cleaning</a></li>
                                    <li><a href="#">Garden Cleaning</a></li>
                                    <li><a href="#">Kitchen Cleaning</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6  col-lg-3 last">
                        <div class="widget about_us">
                            <h2 class="widget-title">Contact Us</h2>
                            <div class="about-footer">
                                <div class="footer-widget address">
                                    <div class="footer-logo">
                                        <p>
                                            1249 Rang Raod, Clean  E152  95RB <br>
                                            Telephone : (922) 3354 2252<br>
                                            Telephone : (939) 2234 1356<br>
                                            Gmail : demo@example.com<br>
                                            Gmail : info@example.com<br>
                                        </p>
                                    </div>
                                    <div class="footer-address"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER BOTTOM AREA -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6  col-sm-12 footer_style_3">
                        <div class="footer-menu">
                            <ul class="text-left">
                                <li><a href="#">Term &amp; condition</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6  col-sm-12 footer_style_3">
                        <div class="copy-right-text text-right">
                            <p>Copyright © cleanmaster all rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Include All JS -->
    @Scripts.Render("~/bundles/frontjs")
    @RenderSection("scripts", required: false)

</body>
</html>