@*@model List<Smart.Model.Models.MasterPanel.Menu>*@
<style type="text/css">
    .current-page > a {
        font-size: 13px !important;
        color: green !important;
    }
</style>
<p id="divManueSeter">

    @if (Session["htmlMenues"] != null)
    {
        @Html.Raw(Session["htmlMenues"].ToString());
    }
</p>




